.App {
  text-align: center;
}

body {
background-color: rgb(114, 116, 117);
justify-content: center;
display: flex;
align-content: center;}

input {
  border: solid thin black;
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 300px;
  align-content: center;
  
}
.but{
  background-color: black(114, 116, 117);
  width: 65px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.display {
  background-color: aqua;
}